<!DOCTYPE html>
<html>

<head>

	<title>weather</title>

	<script type="text/javascript" src="jquery-2.1.3.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="stylesheet.css"></link>

</head>

<body ng-controller="MainController as MainCtrl">

	<!-- Google Maps API -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

	<!-- Google Charts -->
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<!-- AngularJS -->
	<script type="text/javascript" src="angular.min.js"></script>

	<!-- weather app -->
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="google-charts-directive.js"></script>
	<script type="text/javascript" src="icon-directive.js"></script>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 top-padding text-right">
				<form name="inputForm" ng-submit="MainCtrl.submitAddress()" class="form-inline">
					<div class="form-group">
						<label class="sr-only" for="cityInput">City</label>
						<input class="form-control" id="cityInput" ng-model="MainCtrl.address.city" placeholder="Enter city" />
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>

				<div>
					<div class="row">
						<div class="col-xs-9">
							<h1>{{MainCtrl.address.city}}</h1>
							<p>Current temperature: {{MainCtrl.forecast.currently.temperature | temp}}</p>
							<p>Probability of rain: {{MainCtrl.forecast.currently.precipProbability}}</p>
							<p>Pressure: {{MainCtrl.forecast.currently.pressure}}</p>
							<p>Next hour: {{MainCtrl.forecast.minutely.summary}}</p>
							<p>This week: {{MainCtrl.forecast.daily.summary}}</p>
						</div>
						<div class="col-xs-3 top-padding">
							<weather-icon></weather-icon>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-8">
				<div id="map-canvas" class="google-maps"></div>
			</div>
		</div>
	</div>

	<div class="row top-padding" ng-controller="TabController as tabCtrl">
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-pills">
					<li ng-class="{ active:tabCtrl.isSet(1) }">
						<a href ng-click="tabCtrl.setTab(1)">Hourly</a>
					</li>
					<li ng-class="{ active:tabCtrl.isSet(2) }">
						<a href ng-click="tabCtrl.setTab(2)">Daily</a>
					</li>
				</ul>
			</div>
		</div>

		<!--  Hourly forecast graphs  -->
		<div class="row text-right" ng-show="tabCtrl.isSet(1)">
			<div class="col-xs-6">
				<google-chart type="hourly-temps"></google-chart>
			</div>
			<div class="col-xs-6 text-left">
				<google-chart type="hourly-precip-prob"></google-chart>
			</div>
		</div>

		<!--  Daily forecast graphs  -->
		<div class="row text-right" ng-show="tabCtrl.isSet(2)">
			<div class="col-xs-6">
				<google-chart type="daily-min-max-temps"></google-chart>
			</div>
			<div class="col-xs-6 text-left">
				<google-chart  type="daily-precip-acc"></google-chart>
			</div>
		</div>

	</div>

</body>

</html>